<header class="header">
	<div class="">
		{{> logo}}
	</div>

	<nav class="header_nav">
		<div class="header_nav_right">
			{{> nav list=header}}
		</div>
	</nav>
</header>

{{#with main}}
<div class="hero">
	<img src="{{image}}"
		 alt="Hero image"
		 class="hero_image">
	<div class="hero_content">
		<h1 class="hero_title">{{heading}}</h1>
		<p class="hero_text">{{description}}</p>

		<a class="button main_button"
		   href="{{href}}">{{button}}</a>
	</div>
</div>
{{/with}}

<main class="featured">
	{{#each featured}}
	{{> cardFeatured data=this}}
	{{/each}}
</main>

<div class="form">
	{{#each actions}}

	<div class="actions_content">
		<h3 class="actions_title">{{heading}}</h3>
		<a class="button actions_button"
		   href="{{url}}">{{text}}</a>
	</div>

	{{/each}}
</div>

<footer class="row g-0 footer">
	<div class="col-3">
		{{> logo}}
		<span class="footer_copyright">Copyright 2023-2024</span>
	</div>

	{{#each footer}}
	<div class="col-3">
		<span class="footer_title">{{title}}</span>
		{{>nav list=links isVertical=true}}
	</div>
	{{/each}}
</footer>